.inspiration h1{
    text-align: left !important;
    margin-left: 100px;
}

.inspiration{
    margin-top: 5rem;
}

.data{
   
    margin: 4rem 6rem;
}
.react-multi-carousel-list {
    padding: 0rem 0 2rem 0;
    }
    
.custom-dot-list-style button{
    border: none;
    background: rgb(237, 143, 158);
    }

.react-multi-carousel-dot.react-multi-carousel-dot--active button{
    background: rgb(237, 143, 158) !important;
    }

.card {
    position: relative;
    width: 300px; /* Adjust the width and height as needed */
    height: 300px;
    overflow: hidden;
    margin: 0px 30px;
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire card */
    border-radius: 10px;
  }
  
  .card-content {
    position: absolute;
    bottom: 0; /* Adjust as needed for vertical positioning */
    left: 0; /* Adjust as needed for horizontal positioning */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for text */
    color: white;
    padding: 10px;
  }
  
  .card-heading {
    margin: 0;
    font-size: 18px; /* Adjust the font size as needed */
    text-align: center;
    font-family: 'Martian Mono', monospace;
  }